<!doctype html>
<html>
<head>
    <title>История</title>
    <meta charset="utf-8" />
</head>
<%- include('../../partials/header.ejs') %>
<body>
    <div class="container">
        <h2>История</h2>
        <table class="table">
            <tr><th>Номер Заказа</th><th>Пользователь</th><th>Ресторан</th><th>Стоимость</th><th>Метод оплаты</th><th>Статус</th><th>Товары</th><th>Дата изменения</th></tr>
            <% history.forEach(function(item) { %>
            <tr>
                <td><%= item.IDOrder %></td>
                <td><%= item.User %></td>
                <td><%= item.Company %></td>
                <td><%= item.TotalPrice %></td>
                <td><%= item.PaymentMethod %></td>
                <% if (item.Status == "Принят") { %>
                    <td style="color: green;"><%= item.Status %></td>
                <% } %>
                <% if (item.Status == "Доставлен") { %>
                    <td><%= item.Status %></td>
                <% } %>
                <% if (item.Status == "В пути") { %>
                    <td style="color: green;"><%= item.Status %></td>
                <% } %>
                <% if (item.Status == "Отменён") { %>
                    <td style="color: rgb(128, 0, 0);"><%= item.Status %></td>
                <% } %>
                <td><%= item.Products %></td>
                <td><%= item.OrderDate %></td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
<%- include('../../partials/footer.ejs') %>
</html>
    