<!doctype html>
<html>
<head>
    <title>Заказы</title>
    <meta charset="utf-8" />
</head>
<%- include('../../partials/header.ejs') %>
<body>
    <div class="container">
        <h2>Все заказы</h2>
        <table class="table">
            <tr><th>Номер Заказа</th><th>Стоимость</th><th>Метод оплаты</th><th>Статус</th><th>Товары</th><th>Дата заказа</th><th>Пользователь</th><th></th></tr>
            <% orders.forEach(function(item) { %>
                <tr>
                    <td><%= item.IDOrder %></td>
                    <td><%= item.TotalPrice %> BYN</td>
                    <td><%= item.PaymentMethod %></td>

                <form action="updateStatus/<%= item.IDOrder %>" method="post">
                <td>
                    <select name="status">
                        <% if (item.Status == "Принят") { %> <option value="accept" selected>Принят</option>
                        <% } else { %> <option value="accept">Принят</option> <% } %>
                        <% if (item.Status == "В пути") { %> <option value="way" selected>В пути</option>
                        <% } else { %> <option value="way">В пути</option> <% } %>
                        <% if (item.Status == "Доставлен") { %> <option value="finish" selected>Доставлен</option>
                        <% } else { %> <option value="finish">Доставлен</option> <% } %>
                        <% if (item.Status == "Отменён") { %> <option value="cancel" selected>Отменён</option>
                        <% } else { %> <option value="cancel">Отменён</option> <% } %>
                    </select>
                </td>
                <td><%= item.Products %></td>
                <td><%= item.OrderDate %></td>
                <td><%= item.User.Email %> (<%= item.User.PhoneNo %>) </td>
                <td>
                    <button type="submit" style="background: green;border-radius: 10px;color: white;">Сохранить</button>
                </td>
                </form>
            </tr>
        <% }); %>
    </table>
    <form action="clearOrders" method="post">
        <button class="registerbtn" style="background-color: red; color: white; width:100%;">Очистить заказы</button>
    </form>
</div>
</body>
<%- include('../../partials/footer.ejs') %>
</html>
