<!doctype html>
<html>
<head>
    <title>Category</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/auth.css" asp-append-version="true" />
</head>
<%- include('../../partials/header.ejs') %>
<body>
    <div class="container">
        <form action="<%= category.IDCategory %>" method="post">
        <div class="container">
        <h1>Изменить категорию</h1>
        <hr>
        
        <label for="email"><b>Идентификатор: <%= category.IDCategory %></b></label>
        <hr>

        <label for="name"><b>Название</b></label>
        <input type="text" placeholder="Закуски" name="name" required value="<%= category.Name %>">

        </div>
        <button type="submit" class="registerbtn">Изменить</button>
        </form>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
</html>